table, td, th{
    border: 2px solid green;
    border-collapse: collapse;
}
h4{
    text-shadow: 10px 10px 5px;
}
body{
    background-color: aquamarine;
}
h4{
    color: darkgreen;
}
header{
    border:4px double red
}
.navbar{
    border: 2px solid;
    padding: 10px;
    background-color: black;
}
.navbar a{
    padding: 10px;
    color: white;
}
